<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
    <title>Title</title>



</head>
<body>
    <form th:inline="text" th:action="@{/employee/select}" method="post">

        <tr th:each="employee : ${availableEmployees}">

            <td>[[${employee.name}]]</td>
            <td>[[${employee.jobTitle}]]</td>
            <button type="submit" name="employeeId" th:value="${employee.id}">Auswählen</button>
            <br>
            </td>

        </tr>

    </form>
</body>
</html>